#app-header{
    color:#bbc7e0;
}

#output-image-upload{
    /* display:inline; */
    padding-top: 1.5%
}

#percentage_table{
    margin-top: 20px;
}

.navbar-brand{
   /*  margin-left: 40%; */
}

#upload-image{
    margin-top: 1%;
    float:right;
}


#sub-nav-bar{
    background-color:#e6e6e6 ;
    display:flex;
    padding-bottom: 1%;
}

#drop-down-div{
    padding: 0.5%;
    display:flex;
    padding-left:5%;
    width:50%; 
}

#drop-down-title{
    padding-top:2.5%;
}

#model-dropdown{
    height: 100%;
    width:50%;
    padding: 1%;
    font-size: medium;
}

#logo_img{
    border-radius: 15%;
}

/* Revice these items */
#react-select-2--value-item, .Select-arrow{
    color:white !important;
}
.Select-control{
    background-color: #4773c0 ; 
    color:white !important;
}

.Select-clear, .Select-clear-zone{
    display: none;
}

.navbar-brand{
    font-size: 160%;
}

.result-titles{
    font-size: 200%;
}

.image-container{
    display:grid;
}

/* information cards in output-image-upload div */

#image-container-div{
    padding-top:2.5%;
    padding-left:2%;
}

.image-container{
    margin:5px;
}
.percentage-information-cards{
    /* background-color:#f5741db5 ;*/
    background-color:#ff670075;
}

/* small devices */
@media ( max-width: 600px) {
    #model-dropdown {
        width:100%;
    }   
    
    #drop-down-title {
        display:none;
    }   

    drop-down-title

}



