#app-header{
    color:#bbc7e0;
}

#output-image-upload{
    display:inline;
}

#percentage_table{
    margin-top: 20px;
}

.navbar-brand{
   /*  margin-left: 40%; */
}

#upload-image{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#sub-nav-bar{
    background-color:#e6e6e6 ;
}

#model-dropdown{
    width:25%;
    height: 70%;
    padding: 1%;
    font-size: small;
}

#logo_img{
    border-radius: 15%;
}