#app-header{
    color:#bbc7e0;
}

#output-image-upload{
    /* display:inline; */
    /* padding-top: 1.5% */
}

#percentage_table{
    margin-top: 20px;
}

.navbar-brand{
   /*  margin-left: 40%; */
}

#upload-image{
    float:right;
}


#sub-nav-bar{
    background-color:#e6e6e6 ;
    display:flex;
    padding-bottom: 1%;
}

#drop-down-div{
    display:flex;
    padding-left:5%;
    width:50%; 
}

#drop-down-title{
    padding-top:2.5%;
}

#model-dropdown{
    height: 100%;
    width:50%;
    padding: 1%;
    font-size: medium;
    display: none;
}

#logo_img{
    border-radius: 15%;
}

/* Revice these items */
#react-select-2--value-item, .Select-arrow, .Select-value-label{
    color:white !important;
    font-family: Segoe UI;
}
.Select-control{
    background-color: #4773c0 ; 
    color:white !important;
    font-family: Segoe UI;
}

.Select-clear, .Select-clear-zone{
    display: none;
    font-family: Segoe UI;
}

.navbar-brand{
    font-size: 160%;
}

.result-titles{
    font-size: calc(10px + 5vw);
}

.image-container{
    display:grid;
}

/* information cards in output-image-upload div */

#image-container-div{
    padding-left:2%;
}

.image-container{
    margin:5px;
}
.percentage-information-cards{
    /* background-color:#f5741db5 ;*/
   /*  background-color:#ff670075;  */
   border :none;
}


.result-titles{ 
    font-size:calc(50px + 3vw);
    text-align: center;
    color: tomato !important;
    line-height: 0.7;
  }


.percentage-information-cards_title{
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}

.modal-header {
    background-color: #FF7518;
    color: white;
  }

.instruction-sublist{
    margin-left:30px;
}

#canopy-title{
    border-left:5px;
    border-left-style:solid; 
    border-color:green; 
    /* padding: 1em; */
}

#residue-title{
    border-left:5px;
    border-left-style:solid; 
    border-left-width: 10%;
    border-color:brown; 
    /* padding: 1em; */
}

#soil-title{
    border-left:5px;
    border-left-style:solid; 
    border-color:blue; 
    /* padding: 1em; */
}
/* small devices */
@media ( max-width: 600px) {

    #model-dropdown, #drop-down-div{
        /* width:100%; */
        display:none;
        width: 0%;
    }   
    
    #drop-down-title {
        display:none;
        width: 0%;
    }   

    .card{
        margin: 0.1rem 0rem 0.1rem 0rem !important;
      }
    
    .result-titles{ 
        font-size:calc(50px + 5vw);
        text-align: center;
    }

    #navbar-toggler{
        float: right;
    }

    

}



